*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background: url('https://i.gifer.com/D2kN.gif');
    height: 100vh;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    color: rgb(226, 86, 21);
    font-family: helvetica;
}
nav{
    background-color: rgb(69, 21, 100);
    width: 100%;
}

ul class="menu"
menu {
    list-style: none;
    margin: 0;
    padding: 100%;
}
.lista a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    padding: 15px 50px;
}
.menu .lista{
 display: inline-block;
}

#modelo{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#info{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}


#info2{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}
